<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="ConnectionString"
			 connectionString="Data Source=DESKTOP-52ISEVD\SQLEXPRESS;Integrated Security=True;Connect Timeout=30;Encrypt=False;Application Intent=ReadWrite;Multi Subnet Failover=False" providerName="System.Data.SqlClient" />-->
		<add name="ConnectionString" connectionString="Data Source=DESKTOP-52ISEVD\SQLEXPRESS;Initial Catalog=CollageDb;Integrated Security=True;MultipleActiveResultSets=True" />

	</connectionStrings>
</configuration>